@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  width: 800px;
  margin: auto;
  font-family: "Inter", sans-serif;
}
header {
  border: 1px solid #000;
  height: 100px;
  width: 800px;
  text-align: center;
}

.button {
  border: 1px solid #000;
  height: 100px;
  width: 160px;
  text-align: center;
  text-justify: center;
  line-height: 100px;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.flex2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
